<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - GoonJobs</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <style>
        a.dotted {
            border-bottom: 1px dotted #999;
            text-decoration:none;
        }
        
        a.dotted:hover {
            border-bottom: 1px solid #999;
            text-decoration:none;
        }
    </style>
</head>
<body>
    @Html.Partial("NavBar")
    <div class="container" style="margin-top:100px">
        @RenderBody()
    </div>
    <footer class="navbar-fixed-bottom" style="text-align:center; background-color:White; border-top:1px solid #DDD">
        <p><small>
            GoonJobs &copy; <a class="dotted" href="http://seditious-tech.com">Seditious Technologies</a> 2011-@DateTime.Now.Year | 
            <a class="dotted" href="/jobs/rss">Newest Jobs RSS Firehose</a> |
            <a class="dotted" href="/legal">Legal</a></small>
        @if (User.Identity.Name == "tristan@seditious-tech.com")
        {
            @:| <a class="dotted" href="/acp">ACP</a>
        }
        </p>
    </footer>
    <script type="text/javascript" src="/Scripts/ui/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/Scripts/ui/bootstrap.js"></script>
    <script type="text/javascript">
        $('*[rel="tooltip"]').tooltip();
    </script>
    @RenderSection("Scripts", false)
</body>
</html>