@model dynamic
@{
    ViewBag.Title = "Activations";
}

<div class="row">
    <div class="span8">
        <ul class="breadcrumb">
            <li>
                <a href="/acp" class="dotted">Control Panel</a>
                <span class="divider">
                    <i class="icon-chevron-right"></i>
                </span>
            </li>
            <li>
                <a href="/acp/activations" class="dotted"><strong>Activations</strong></a>
            </li>
        </ul>
    </div>
    <div class="span4">
        <form action="/acp/activations" method="post" class="form-inline pull-right" style="margin-top:3px">
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">Generate Codes</span><input name="n" value="1" type="number"
                        class="input-mini" /><button type="submit" class="btn btn-primary">
                            Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th style="width:10%; text-align:center">Code</th>
            <th style="text-align:center">User</th>
            <th style="text-align:center" colspan="2">Activated (UTC)</th>
            <th style="text-align:center" colspan="2">Activated (Local)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (dynamic item in Model.OrderByUsername())
    {
        <tr>
            <td><code>@item.Code</code></td>


            <td>@item.Username</td>


            <td style="width:10%;text-align:right">
            @if (item.Activated != DateTime.MinValue)
            {
                @(item.Activated.ToLongTimeString())
            }
            </td>
            <td style="width:20%; text-align:left">
            @if (item.Activated != DateTime.MinValue) 
            {
                @(item.Activated.ToLongDateString())
            }
            </td>


            <td style="width:10%;text-align:right">
            @if (item.Activated != DateTime.MinValue)
            {
                @(item.Activated.ToLocalTime().ToLongTimeString())
            }
            </td>
            <td style="width:20%;text-align:left">
            @if (item.Activated != DateTime.MinValue)
            {
                @(item.Activated.ToLocalTime().ToLongDateString())
            }
            </td>
        </tr>
    }
    </tbody>
</table>