@model dynamic
@{
    ViewBag.Title = "Control Panel";
}

<ul class="breadcrumb">
    <li><a href="/acp" class="dotted"><strong>Control Panel</strong></a>
</ul>

<div class="row">
    <div class="span4">
        <legend style="margin-bottom:0">Activations</legend>

        @{
            var activations_total = Model.Activations.All().ToList().Count;
            var activations_unused = Model.Activations.FindAllByActivated(DateTime.MinValue).ToList().Count;
            var activations_used = activations_total - activations_unused;
            double activations_percent = ((double)activations_used / (double)Model.Users.All().ToList().Count)*100;
        }

        <table class="table table-condensed" style="margin-bottom:0">
            <thead>
                <tr><th>Metric</th><th style="width:20%; text-align:right">Value</th></tr>
            </thead>
            <tbody>
                <tr> <td>Total</td>      <td style="text-align:right">@activations_total</td> </tr>
                <tr> <td>Used</td>       <td style="text-align:right">@activations_used</td></tr>
                <tr> <td>Available</td>  <td style="text-align:right">@activations_unused</td> </tr>
                <tr> <td>Saturation</td> <td style="text-align:right">@activations_percent%</td> </tr>
            </tbody>
        </table>

        <div class="form-actions" style="text-align:center; margin-top:0">
            <a class="btn btn-info" href="/acp/activations/">Go to Activations &raquo;</a>
        </div>
    </div>
    <div class="span4">
        <legend style="margin-bottom: 0">Users</legend>
        @{
            var users_total = Model.Users.All().ToList().Count;
            var users_banned = Model.Users.FindAllByIsBanned(true).ToList().Count;
            var users_24hActive = Model.Users.All()
                                       .Where(Model.Users.LastLogin > DateTime.UtcNow.AddDays(-1))
                                       .ToList().Count;
            var users_24hActivePercent = (((double)users_24hActive) / ((double)users_total)) * 100;
            var users_1wkActive = Model.Users.All()
                                       .Where(Model.Users.LastLogin > DateTime.UtcNow.AddDays(-7))
                                       .ToList().Count;
            var users_1wkActivePercent = (((double)users_1wkActive) / ((double)users_total)) * 100;
            
        }
        <table class="table table-condensed" style="margin-bottom: 0">
            <thead>
                <tr> <th>Metric</th> <th style="width: 30%; text-align: right">Value</th> </tr>
            </thead>
            <tbody>
                <tr> <td>Total</td>        <td style="text-align:right">@users_total</td>             </tr>
                <tr> <td>Banned</td>       <td style="text-align:right">@users_banned</td>            </tr>
                <tr> <td>Active (24h)</td> <td style="text-align:right">@users_24hActivePercent%</td> </tr>
                <tr> <td>Active (1wk)</td> <td style="text-align:right">@users_1wkActivePercent%</td> </tr>

            </tbody>
        </table>
        <div class="form-actions" style="text-align: center; margin-top: 0">
            <a class="btn btn-info" href="/acp/users/">Go to Users &raquo;</a>
        </div>
    </div>
    <div class="span4">
        <legend style="margin-bottom: 0">Issues</legend>
        @{
            var issues_total = Model.Issues.All().ToList().Count;
            var issues_open = Model.Issues.FindAllByIsOpen(true).ToList().Count;
            var issues_closed = Model.Issues.FindAllByIsOpen(false).ToList().Count;
            var issues_complete = ((double)issues_closed / (double)issues_total) * 100;
            var issues_last24h = Model.Issues.All()
                                      .Where(Model.Issues.Reported > DateTime.UtcNow.AddDays(-1))
                                      .ToList().Count;
            if(double.IsNaN(issues_complete)) {
                issues_complete = 100;
            }
            
        }
        <table class="table table-condensed" style="margin-bottom: 0">
            <thead>
                <tr> <th>Metric</th> <th style="width: 30%; text-align: right">Value</th> </tr>
            </thead>
            <tbody>
                <tr> <td>Total</td>        <td style="text-align:right">@issues_total</td>     </tr>
                <tr> <td>Open</td>         <td style="text-align:right">@issues_open</td>      </tr>
                <tr> <td>Lodged (24h)</td> <td style="text-align:right">@issues_last24h</td>   </tr>
                <tr> <td>Completion</td>   <td style="text-align:right">@issues_complete%</td> </tr>
            </tbody>
        </table>
        <div class="form-actions" style="text-align: center; margin-top: 0">
            <a class="btn btn-info" href="/acp/issues/">Go to Issues &raquo;</a>
        </div>
    </div>
    <div class="span4">
        <legend style="margin-bottom: 0">Listings</legend>
        @{
            var     listings_total = Model.Listings.All().ToList().Count;
            var    listings_active = Model.Listings.All()
                                          .Where(Model.Listings.Expires > DateTime.UtcNow)
                                          .ToList().Count;
            var listings_completed = ((Model.Listings.All()
                                          .Where(Model.Listings.Expires == DateTime.MinValue)
                                          .ToList().Count) / listings_total) * 100;
            var listings_expired = ((Model.Listings.All()
                                          .Where(Model.Listings.Expires > DateTime.MinValue &&
                                                 Model.Listings.Expires < DateTime.UtcNow)
                                          .ToList().Count) / listings_total) * 100;
        }
        <table class="table table-condensed" style="margin-bottom: 0">
            <thead>
                <tr> <th>Metric</th> <th style="width: 30%; text-align: right">Value</th> </tr>
            </thead>
            <tbody>
                <tr> <td>Total</td>     <td style="text-align:right">@listings_total</td>     </tr>
                <tr> <td>Active</td>    <td style="text-align:right">@listings_active</td>    </tr>
                <tr> <td>Completed</td> <td style="text-align:right">@listings_completed%</td> </tr>
                <tr> <td>Expired</td>   <td style="text-align:right">@listings_expired%</td>   </tr>
            </tbody>
        </table>
        <div class="form-actions" style="text-align: center; margin-top: 0">
            <a class="btn btn-info" href="/acp/listings/">Go to Listings &raquo;</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="/RRContent/dashboard" class="btn btn-info">
                    RequestReduce Dashboard
                </a>
            </div>
        </div>
    </div>
</div>