@model dynamic
@using IDoThis.Helpers
@using IDoThis.Models
@{
    ViewBag.Title = Model.GProfile.name.givenName + " " + Model.GProfile.name.familyName;
}
@section Scripts {
    <script type="text/javascript">
        $('a[href="/people"]').parent().addClass('active');
    </script>
}
<div class="row">
    <div class="span3" style="margin-top:30px;">
        <div class="row">
            <div class="span2" style="margin-left:0">
                <div class="thumbnail" style="margin-right:10px">
                    <img src="http://www.gravatar.com/avatar/@(Model.GProfile.hash)?s=220" alt="">
                </div>
            </div>
    
            @if (Model.GProfile.IsDefined("aboutMe")) {
            <p><small>@Model.GProfile.aboutMe</small></p>
            }
        
            <div class="span4" style="margin-left:0">
            @if(Model.GProfile.IsDefined("currentLocation")) {
                <dl>
                    <dt>Location</dt>
                    <dd>@Model.GProfile.currentLocation</dd>
                </dl>
            }
            
            @if(Model.GProfile.IsDefined("accounts")) {
                <dl>
                    <dt>Presence</dt>
                    @foreach (dynamic item in Model.GProfile.accounts) {
                    <dd><a class="dotted" href="@item.url" target="_blank">@item.shortname</a></dd>
                    }
                </dl>
            }
            
            @if(Model.GProfile.IsDefined("urls")) {
                <dl>
                    <dt>Urls</dt>
                @foreach (dynamic item in Model.GProfile.urls) {
                    <dd><a class="dotted" href="@item.value" target="_blank">@item.title</a></dd>
                }
                </dl>
            }
            </div>
        </div>
    </div>
    <div class="span8 offset1">
        <legend>@Model.GProfile.name.givenName @Model.GProfile.name.familyName
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Profile().HasPaid)
                {
                <a class="btn" rel="tooltip" title="Contact this Person" href="mailto:@Model.SProfile.Username?subject=Inquiry%20(GoonJobs)" target="_blank">
                    <i class="icon-envelope"></i> Contact
                </a>
                }
                else
                {
                <a class="btn" rel="tooltip" title="Upgrade to Contact" href="/profile/upgrade">
                    <i class="icon-lock"></i> Upgrade
                </a>
                }
                <a class="btn" rel="tooltip" title="Share this Person via Email" href="@MailtoHelpers.ProfileMailto(Model.GProfile)" target="_blank">
                    <i class="icon-share"></i> Share
                </a>
                <a class="btn" rel="tooltip" title="Flag as Inappropriate" data-toggle="modal" data-target="#FlagModal">
                    <i class="icon-flag"></i> Flag
                </a>
            }
            else
            {
                <a class="btn" rel="tooltip" title="Sign In for More Actions" href="/auth">
                    <i class="icon-lock"></i> Sign In
                </a>
            }
            </div>
        </div>
        </legend>

        <p>@Html.Raw(Model.SProfile.Description)</p>
    </div>
</div>

<div id="FlagModal" class="modal fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Report Profile</h3>
    </div>
    <div class="modal-body">
        <p>You are about to report <strong>@Model.GProfile.name.givenName 
           @Model.GProfile.name.familyName</strong> for inappropriate content. 
           This can include, but is not limited to:</p>
        <ul>
            <li>Pornography</li>
            <li>Spam or advertising</li>
            <li>Malware distribution</li>
        </ul>
        <p>Abusing the reporting system is a violation itself and repeated false reports will
           result in a ban.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger pull-left" href="/people/flag/@Model.SProfile.UsernameHashed">
            <i class="icon-warning-sign icon-white"></i> Report
        </a>
        <a data-dismiss="modal" class="btn btn-primary">
            Close
        </a>
    </div>
</div>