@model dynamic
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="span3">
        <div class="thumbnail">
            <img src="http://www.gravatar.com/avatar/@(Model.GProfile.hash)?s=220" alt="">
        </div>

        @if (Model.GProfile.IsDefined("aboutMe"))
        {
        <p>@Model.GProfile.aboutMe</p>
        }

        @if(Model.GProfile.IsDefined("currentLocation")) {
        <dl>
            <dt>Location</dt>
            <dd>@Model.GProfile.currentLocation</dd>
        </dl>
        }
        @if(Model.GProfile.IsDefined("accounts"))
        {
            <dl>
                <dt>Presence</dt>
                @foreach (dynamic item in Model.GProfile.accounts)
                {
                    <dd><a href="@item.url">@item.shortname</a></dd>
                }
            </dl>
        }
        @if(Model.GProfile.IsDefined("urls"))
        {
        <dl>
            <dt>Urls</dt>
            @foreach (dynamic item in Model.GProfile.urls)
            {
             <dd><a href="@item.value" target="_blank">@item.title</a></dd>
            }
        </dl>
        }
    </div>
    <div class="span8 offset1">
        <legend> @Model.GProfile.name.givenName @Model.GProfile.name.familyName

        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a class="btn" rel="tooltip" title="Contact this Person">
                    <i class="icon-envelope"></i> Contact
                </a>
                <a class="btn" rel="tooltip" title="Share this Contact via Email">
                    <i class="icon-share"></i> Share
                </a>
                <a class="btn" rel="tooltip" title="Flag as Inappropriate">
                    <i class="icon-flag"></i> Flag
                </a>
            </div>
        </div>
        </legend>

        <p>@Html.Raw(Model.SProfile.Description)</p>
    </div>
</div>