@model List<dynamic>
@using IDoThis.Helpers
@using MvcPaging
@{
    ViewBag.Title = "People";
    if (!string.IsNullOrWhiteSpace(Request.QueryString["q"]))
    {
        ViewBag.Title = "Search Results for '" + Request.QueryString["q"] + "'";
    }
}
@section Scripts {
    <script type="text/javascript">
        $('a[href="/people"]').parent().addClass('active');
    </script>
}

<form class="form-inline" method="get" action="/people" style="text-align: center; margin-bottom: 50px">
    <div class="control-group">
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-search"></i></span><input type="search" name="q" class="span10" value="@(Request.QueryString["q"])" placeholder="Search" /><button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>

@if (Model.Count != 0)
{
<ul class="thumbnails">
@foreach (dynamic item in Model)
{
    var hash = ((string)item.emails[0].value).MD5Hash();
    
    <li class="span2">
        <a class="thumbnail" href="/people/details/@hash" style="text-align:center; text-decoration:none">
            <img src="http://www.gravatar.com/avatar/@(hash)?s=220&d=mm" >
            <h4>@item.name.givenName @item.name.familyName</h4>
        </a>
    </li>
}
</ul>
<div style="text-align: center">
    @(Html.Pager((int)ViewBag.PageSize, (int)ViewBag.CurrentPage, (int)ViewBag.TotalCount)
          .Options(o => o.AddRouteValue("q", Request.QueryString["q"])
                         .DisplayTemplate("BootstrapPagination")
                  )
    )
</div>    
}
else
{
<div class="row">
    <div class="span6 offset3">
        <legend>No Results</legend>
        @if (!string.IsNullOrWhiteSpace(Request.QueryString["q"]))
        { 
            <p>It doesn't seem like there are any members matching the term "@(Request.QueryString["q"])".</p>
        }
        else {
            <p>It doesn't seem like there are any people.</p>
        }
    </div>
</div>
}