@model dynamic
@using IDoThis.Helpers;
@{
    ViewBag.Title = User.Identity.Name;
}
@section Styles {
    <link href="/Content/css/bootstrap.wysihtml5.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script type="text/javascript" src="/Scripts/ui/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/Scripts/ui/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript">
        $('a[href="/profile"]').parent().addClass('active');
        $('textarea[name="Pitch"]').wysihtml5({
            "image": false,
            "font-styles": false
        });
        $('[rel="popover"]').popover();
    </script>
}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#profile" data-toggle="tab">My Profile</a>
        </li>
        <li>
            <a href="#saved" data-toggle="tab">Saved Jobs</a>
        </li>
        <li>
            <a href="#listings" data-toggle="tab">Advertised Listings</a>
        </li>
        <li class="pull-right">
            <a href="/auth/signout">Sign Out</a>
        </li>
    @if (!Model.Profile.HasPaid)
    {
        <li class="pull-right">
            <a data-toggle="modal" href="/profile/upgrade">
                Upgrade Account
            </a>
        </li>
    }
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="saved">
            <table class="table" style="width: 99%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Summary</th>
                        <th>Posted</th>
                        <th>Expires</th>
                        <th style="width: 1px"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (dynamic item in Model.Saved)
                {
                    if (item.Expires > DateTime.UtcNow)
                    {
                    <tr>
                        <td><a class="dotted" href="/jobs/details/@item.Slug">@item.Title</a></td>
                        <td>@item.Blurb</td>
                        <td>@item.Posted.ToShortDateString()</td>
                        <td>@((item.Expires - DateTime.UtcNow).Days) days</td>
                        <td>
                            <a class="btn btn-mini" href="/jobs/unsave/@item.Slug">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    }
                }
                </tbody>
                @if (Model.Saved.Count == 0)
                {
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align:center"><small>You haven't saved any jobs.</small></td>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <div class="tab-pane fade" id="listings">
            <table class="table" style="width:99%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th style="width:40%">Summary</th>
                        <th>Posted</th>
                        <th>Expires</th>
                        <th style="width:1%">Filled?</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (dynamic item in Model.Listings)
                {
                    <tr>
                        <td><a class="dotted" href="/jobs/details/@item.Slug">@item.Title</a></td>
                        <td>@item.Blurb</td>
                        <td>@item.Posted.ToShortDateString()</td>
                        <td>
                        @if (item.Expires == DateTime.MinValue) {
                            @: &mdash;
                        }
                        else {
                            @((item.Expires - DateTime.UtcNow).Days) @:days
                        }
                        </td>
                        <td>
                        @if (item.Expires != DateTime.MinValue)
                        {
                            <a class="btn btn-mini" href="/jobs/delist/@item.Slug">
                                <i class="icon-ok"></i>
                            </a>   
                        }
                        else
                        {
                            @: Yes
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade active in" id="profile">
            <form class="form-horizontal" method="post" action="/profile">
                <div class="control-group">
                    <label class="control-label">Hirability</label>
                    <div class="controls">
                    @if(Model.Profile.HasPaid)  {
                        <label class="checkbox">
                            @Html.CheckBox("IsHirable", (bool)Model.Profile.IsHirable) I'm open to being contacted for hiring 
                        </label>
                    }
                    else  {
                        <span>You cannot be hirable if you have not <a href="/profile/upgrade">upgraded your account</a>.</span>
                        @Html.Hidden("IsHirable", (bool)Model.Profile.IsHirable)
                    }
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" style="padding-top: 0px">Extended Profile</label>
                    <div class="controls">
                        <a href="@User.GravatarProfileLink()" target="_blank" class="btn btn-info btn-mini" rel="popover" data-title="Gravatar" data-content="GoonJobs uses Gravatar for your personal details. You will not be listed unless you have a Gravatar account with a firstname and lastname.">
                            Go to Gravatar <i class="icon-chevron-right icon-white"></i>
                        </a>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Pitch Yourself</label>
                    <div class="controls">
                        @Html.TextArea("Pitch", (string)Model.Profile.Description, new { @class = "span9", rows = 16 })
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok icon-white"></i> Save Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>